.logo {
    display: flex;
    width: 65px;
    font-weight: bold;
    justify-content: space-between;
}
.D {
    font-size: 20px;
    color: red;
}
.Ci {
    font-size: 20px;
    color: orange;
    padding-bottom: 5px;
}
.L {
    font-size: 20px;
    color: green;
    padding-top: 5px;
}
.I {
    font-size: 20px;
    color: violet;
}
.C {
    font-size: 20px;
    color: blue;
}
.Accueil {
    background-image: url("./home.jpg");
    background-size: cover;
    /* background-color: green; */
    height: 580px;
}
.vid {
    padding-left: 180px;
    padding-bottom: 60px;
}
.activites {
    background-image: url("./acti.jpeg");
    background-size: cover;
    /* background-color: green; */
    height: 600px;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 100px;
}
.temoignages {
    background-image: url("./certificate-with-ribbon-bow-books_23-2148769681.avif");
    background-size: cover;
    /* background-color: green; */
    height: 580px;
}
.temoignages h1 {
    color: green;
    font-size: 100px;
    padding-top: 200px;
    padding-left: 700px;
}
.h3 {
    margin-top: 30px;
    margin-left: 360px;
}
.contacts {
    background-image: url("./contact-us_36325-2135.avif");
    background-size: cover;
    /* background-color: green; */
    height: 580px;
}
.contacts h1 {
    color: white;
    padding-top: 400px;
    padding-left: 300px;
    font-size: 100px;
}
.formu {
    background-color: green;
    color: white;
    padding-top: 100px;
}
.Apprenants {
    background-image: url("./app1.avif");
    background-size: cover;
    /* background-color: green; */
    height: 580px;
    color: white;
}
.Apprenants h1 {
    padding-left: 50px;
    padding-top: 80px;
    font-size: 60px;
}
.Entreprises {
    background-image: url("./ent.avif");
    background-size: cover;
    /* background-color: green; */
    height: 580px;
}
.Entreprises h1 {
    padding-left: 600px;
    padding-top: 100px;
    font-size: 60px;
}
.container-fluid {
    padding-left: 40px;
}
.mauritanie {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 60px;
}
.tchad {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 60px;
}
.senegal {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 60px;
}
.bf {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 60px;
}
.madagascar {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 60px;
}
.fotom {
    height: 400px;
    width: 600px;
    padding-left: 10px;
    padding-top: 10px;
}
.temoins {
    height: 350px;
    width: 600px;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 20px;
}
.demand {
    display: flex;
}
.txt {
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.cart1 {
    background-color: black;
    color: #fff;
    /* margin-right: 400px; */
    margin-left: 20px;
}
.jobs {
    display: flex;
}
.logos {
    height: 20px;
    width: 20px;
    margin-left: 8px;
    margin-top: 4px;
}
.tem {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.temtext {
    padding-top: 80px;
    padding-left: 10px;
}
.app {
    background-color: green;
    font-size: 20px;
    border-radius: 5px;
    list-style: none;
    color: #000;
}
.f1 {
    display: flex;
    padding: 25px 25px 5px 6px;
}
.insc {
    margin-left: 400px;
    margin-right: 450px;
    margin-top: 50px;
    box-sizing: initial;
    background-color: red;
    padding-bottom: 20px;
}
.form {
    background-color: linear-gradient( rgb(5, 51, 144));
}
.fieldButton { 
    /* width: 100%; */
    height: calc(100% + 5px);
    margin-top: 0px;
    border: none;
    background: green;
    color: #fff;
    font-size: 18px;
    /* font-size: 500; */
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 10px;
    margin-left: 400px;
}
.ent {
    background-color: orange;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    padding-left: 10px;
}
.im2 {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.footer {
    color: white;
    background-color: black;
    display: flex;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    /* justify-content: space-evenly; */
    margin-top: 90px;
}
.im {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-around;
}
.quote {
    background-color: blue;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    padding: 30px;
    font-weight: bold;
}
.quotes {
    height: 80px;
    width: 80px;
}
.quotes1 {
    height: 80px;
    width: 80px;
   margin-left: 970px;
}
.presentation {
    padding-top: 90px;
    padding-right: 40px;
    padding-left: 40px;
}
.f {
    height: 160px;
    width: 250px;
}
.services , .about , .contact {
    padding-left: 80px;
}
b {
    padding-top: 10px;
}
.pin {
    color: white;
    height: 60px;
}
.f3 {
    padding-left: 26px;
    display: flex;
}